body {
  font-family: Arial, Helvetica, sans-serif;

  font-size: 16px;

  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.intro {
  padding: 4em;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.introTitle {
  font-size: 4em;

  margin: 0 0 1em;
}

.introWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introWrapper + .introWrapper {
  margin-top: 4em;
}

.introSubtitle {
  font-size: 2em;

  color: #666;

  margin: 0 0 1em;
}

.introNav {}

.introNavList {
  display: flex;
  flex-direction: column;
  gap: .5em;

  list-style: none;
}

.introNavItem {
  display: flex;
  justify-content: center;
}

.introNavLink {
  display: inline-block;

  font-size: 1.25em;

  color: darkcyan;
}

.introNavLink:hover {
  text-decoration: none;
}

.introSuccess {
  position: relative;

  margin-top: -1px;
}

.introSuccessTitle,
.introSuccessCode {
  background: #f8f8f8;
  border: 1px solid #999;
}

.introSuccessTitle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1em;
  color: #666;

  padding: 0 .5em;
}

.introSuccessCode {
  padding: 1em;
  box-sizing: border-box;
}

.introForm {
  display: flex;
  flex-direction: column;
  
  gap: 1.5em;
}

.introFormError {
  max-width: 75%;

  position: absolute;
  top: calc(1em + 2px);
  right: 0;
  transform: translateY(-100%);

  font-size: .75em;
  text-align: right;

  color: rgb(255, 81, 81);
}

.introFormLabel {
  max-width: 100%;
  width: 420px;

  display: flex;
  flex-direction: column;
  gap: .5em;

  position: relative;
}

.introFormLabel:hover .introFormAgreeText {
  color: #000;
}

.introFormTitle {
  font-size: .75em;

  color: #999;
}

.introFormInput,
.introFormSubmit {
  height: 2em;
}

.introFormInput {
  border: 1px solid #999;

  font-size: 1em;

  padding: 0 1em;
  box-sizing: border-box;
}

.introFormInput:focus {
  border-color: #000;
  outline: none;
}

.introFormCheckbox {
  position: absolute;
  top: calc(1em - 1px);
  left: 0;
}

.introFormAgreeText {
  max-width: 50%;

  font-size: .75em;

  color: #999;

  padding: 1em 2em;
}

.introFormSubmit {
  border: 1px solid #000;

  font: inherit;

  cursor: pointer;
}
